
RewriteEngine on
RewriteCond %{HTTP_HOST} ^uberhotels\.amirhameed\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.uberhotels\.amirhameed\.com$
RewriteRule ^/?$ "https\:\/\/uberhotels\.amirhameed\.com\/public" [R=301,L]

